* {
  // 重置浏览器默认样式以确保跨浏览器的一致性
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // 设置 body 高度为视口高度，并应用渐变背景
  height: 100vh;
  background-image: linear-gradient(to right, #fff7c8 0%, #fa709a 100%);
  // 使用 Flexbox 布局将内容垂直和水平居中
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  // 设置卡片的背景颜色和布局
  background: #f3fffe;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // 设置卡片的宽度和高度
  width: 50rem;
  height: 30rem;
  // 添加轻微的阴影以增加深度感
  box-shadow: 0.5px 0.5px 1px 1px rgb(255, 255, 223);
}

.card-image {
  // 设置卡片图片的背景图像
  background: url("https://images.unsplash.com/photo-1540979388789-6cee28a1cdc9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-position: center;
  background-size: cover;
}

form {
  // 使用 Flexbox 布局将表单内容垂直和水平居中
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  // 设置输入框的内边距、外边距、宽度、背景色、边框和焦点样式
  padding: 10px 10px;
  margin: 5px;
  width: 20rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.error {
  // 设置错误信息的字体和颜色
  font-family: sans-serif;
  color: red;
}

.submit-btn {
  // 设置提交按钮的宽度、上外边距、内边距、背景色、鼠标指针样式、边框、文字颜色和字体粗细
  width: 80%;
  margin-top: 20px;
  padding: 10px 20px;
  background: transparent;
  background: rgb(255, 90, 123);
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: bold;
}
